:root {
  font-size: clamp(0.75rem, 0.5rem + 1.5vw, 15rem);
  line-height: 1.2;
  --light-bg: #fff;
  --main-color: #000;
}

body {
  font-family: sans-serif;
}

h1 {
  color: #2f4f4f;
  margin-bottom: 10px;
  font-weight: bold;
}

.title {
  font: bold 32px Helvetica Arial sans-serif;
}

.nav {
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
}

#main-nav li {
  display: inline-block;
}

nav a {
  color: white;
  background-color: #13a4a4;
  padding: 5px 15px;
  border-radius: 2px;
  text-decoration: none;
}

.featured {
  color: white;
  background-color: orange;
  padding: 0.32em;
  border-radius: 0.125em;
  text-decoration: none;
}

p .featured {
  box-shadow: 4px 4px #c28f43;
}

.panel {
  font-size: 1rem;
  padding: 1em;
  border: 1px solid #999;
  border-radius: 0.5em;
  background-color: var(--light-bg);
  color: var(--main-color);
}

.panel > h2 {
  margin-top: 0;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}

.panel.large {
  font-size: 1.2rem;
}

.dark {
  margin-top: 2em;
  padding: 1em;
  background-color: #999;
  --light-bg:
  --main-color:#fff;
}

.about-us {
  font-size: 2em;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: red;
}

.footer {
  color: #667;
  background-color: #ccc;
  padding: 0.9375 0;
  text-align: center;
  font-size: 14px;
}

.footer a {
  color: inherit;
  text-decoration: underline;
}
